// START:: SASS VARIABLES
$mainColor: #1983ca;
$secondaryColor: #343a40;
$sectionPadding: 40px 0;
// END:: SASS VARIABLES

// START:: SASS COMPONENTS
@mixin boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin scalling($s) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin boxShadow($b1, $b2, $b3, $b4, $b5 ) {
  -webkit-box-shadow: $b1 $b2 $b3 $b4 $b5;
  -moz-box-shadow: $b1 $b2 $b3 $b4 $b5;
  -o-box-shadow: $b1 $b2 $b3 $b4 $b5;
  box-shadow: $b1 $b2 $b3 $b4 $b5;
}

@mixin textShadow($ts1, $ts2, $ts3, $ts4 ) {
  -webkit-text-shadow: $ts1 $ts2 $ts3 $ts4;
  -moz-text-shadow: $ts1 $ts2 $ts3 $ts4;
  -o-text-shadow: $ts1 $ts2 $ts3 $ts4;
  text-shadow: $ts1 $ts2 $ts3 $ts4;
}
// END:: SASS COMPONENTS

// START:: GLOBAL STYLES
* {
  @include boxSizing();
  input:focus,
  button:focus,
  a:focus {
    outline: none;
  }

  .custom-title {
    text-align: right;
    color: $mainColor;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 8rem;
      height: 2px;
      background-color: $mainColor;
    }
  }

  #side-add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

html {
  direction: rtl;
  body {
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      background-color: $secondaryColor;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainColor;
    }
  }
}
// END:: GLOBAL STYLES

// START:: NAV BAR STYLES
.navbar {
  @include boxShadow( 0, 0, 5px, 3px, #222 );
  z-index: 999 !important;
  padding: 0;
  .navbar-brand {
    span {
      font-family: 'Righteous', cursive;
      font-size: 25px;
      @include textShadow(0, 0, 3px, #fff)
    }
  }
  .navbar-nav {
    padding: 0;
    .nav-item {
      margin: 0 3px;
      &.active {
        a {
          border-bottom: 1px solid $mainColor;
          color: $mainColor;
          @include textShadow( 0, 0, 3px, $mainColor)
        }
      }
      .nav-link {
        color: #fff;
        border-bottom: 1px solid transparent;
        @include transitioning(0.4s);
        &:hover {
          border-bottom: 1px solid $mainColor;
          color: $mainColor;
        }
      }
      .dropdown-menu {
        position: absolute;
        top: 95%;
        right: 7%;
        width: 85%;
        border-radius: 0;
        padding: 20px;
        .sub-sec-one  {
          padding-left: 90px;
        } 
        .sub-sec-tow {
          border-right: 1px solid $mainColor;
          padding-left: 90px
        }
        a {
          color: #fff;
          text-align: right;
          @include transitioning(0.4s);
          &:hover {
            background-color: transparent;
            color: $mainColor;
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
  .navbar-social {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 4px;
        .search {
          background-color: transparent;
          border: none;
          font-size: 40px;
          opacity: 1;
          color: #fff;
        }
        a {
          color: rgb(172, 172, 172);
          opacity: 0.5;
          @include transitioning(0.4s);
          &.facebook:hover {
            color: #0077ff;
          }
          &.twitter:hover {
            color: #009dff;
          }
          &.youtube:hover {
            color: rgb(238, 20, 20);
          }
          &.insta:hover {
            color: #f7623f;
          }
          &:hover {
            opacity: 1;
            @include scalling(1.5);
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
}
// END:: NAV BAR STYLES

// START:: SEARCH AREA STYLES
.search-area {
  padding: 25px 0;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .close-search-area {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    @include transitioning(0.4s);
    &:hover {
      color: $mainColor;
      @include transitioning(0.4s);
    }
  }
  .nav-search {
    .search-input {
      font-size: 25px;
      color: #888;
      font-weight: 600;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $mainColor;
      padding: 15px;
      caret-color: $mainColor;
      &::placeholder {
        color: #888;
      }
    }
    ul {
      list-style: none;
      li {
        text-align: initial;
        margin-bottom: 15px;
        margin-right: 5px;
        font-size: 18px;
        &::before {
          content: "\2022";
          color: #fff;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: 0;
        }
        a {
          color: #fff;
          @include transitioning(0.4s);
          &:hover {
            color: $mainColor;
            text-decoration: none;
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
}
// END:: SEARCH AREA STYLES

// START:: MATCHES SECTION STYLES
.matches-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(90vh - 62px);
  overflow: hidden;
  line-height: 0;
  background: #444 url("../imgs/playground.jpg");
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .nav-tabs {
      border-bottom: none;
      position: relative;
      top: 7%;
      right: 35%;
      .nav-item {
        .nav-link {
          padding: 17px;
          border: none;
          &.active {
            background-color: $mainColor;
            color: #fff;
            border: none;
            border-radius: 0;
          }
          &.hover {
            border: none;
            border-color: transparent;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        .empty-tag-content {
          position: relative;
          margin-top: 2.7%;
          width: 100%;
          background-color: $secondaryColor;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            color: $mainColor;
          }
        }
      }
    }
    #matches-cards-slider,
    #live-matches-slider {
      position: absolute;
      top: 15%;
      left: 0;
      .match-card {
        min-height: 130px;
        padding: 15px;
        background-color: $secondaryColor;
        color: #fff;
        border: 1px solid #333;
        a {
          text-align: center;
          img {
            display: inline-block;
            width: 35px !important;
            height: auto;
          }
        }
        p {
          margin-top: 15px;
          padding-bottom: 0;
          margin-bottom: 0;
          &.competition-name {
            color: $mainColor;
            font-size: 0.7rem;
            font-weight: bold;
          }
          &.match-result {
            font-size: 600;
            padding: 5px 0;
          }
          &.match-stat {
            padding: 5px 0;
            font-size: 12px;
            span {
              border: 1px solid $mainColor;
              padding: 1px 6px;
              border-radius: 8px;
              background-color: #212121;
            }
          }
          &.match-time {
            padding-top: 5px;
            font-size: 12px;
            .live {
              margin: 0;
              padding: 0;
              font-size: 13px;
              color: #f04033;
              animation-name: live;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              @include transitioning(0.4s);
              // START:: LIVE ICON ANIMATION
              @keyframes live {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
              // END:: LIVE ICON ANIMATION
            }
          }
          &.team-name {
            font-size: 12px;
          }
        }
      }
      .owl-nav {
        button {
          &:last-of-type {
            margin-right: 100px;
          }
          background: $mainColor;
          padding: 15px !important;
          margin-top: 15px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          text-align: center;
          @include boxShadow( 0, 0, 3px, 3px, $mainColor);
          span {
            color: #fff;
            font-size: 40px;
            font-weight: 600;
          }
        }
      }
    }
  }
  #curve {
    position: absolute;
    bottom: 0;
    display: block;
    width: calc(145% + 1.3px);
    height: 197px;
  }
  .shape-fill {
    fill: #fff;
  }
}
// END::  MATCHES SECTION STYLES

// START:: TEAMS SLIDER SECTION PSTYLES
.teams-section{
  padding: $sectionPadding;
  #teams-slider {
    width: 70%;
    &.owl-rtl {
      .owl-item {
        width: 70px !important;
      }
    }
    .owl-nav {
      button {
        &:last-of-type {
          margin-right: 100px;
        }
        background: $mainColor;
        padding: 15px !important;
        margin-top: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        @include boxShadow( 0, 0, 3px, 3px, $mainColor);
        span {
          color: #fff;
          font-size: 40px;
          font-weight: 600;
          line-height: 0;
        }
      }
    }
  }
}
// END:: TEAMS SLIDER SECTION PSTYLES

// START:: LATEST NEWS SECTION SRTYLES
.latest-news {
  padding: $sectionPadding;
  .news-img-container {
    position: relative;
    padding: 0;
    .news-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 15px;
      word-wrap: break-word;
      a { 
        color: inherit;
        font-size: 600;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// START:: LATEST NEWS MEDIA
@media (min-width: 992px) {
  .latest-news {
    .news-img-container {
      &.col-lg-5 {
        flex: 0 0 41.3%;
        max-width: 41.3%;
      }
      &.col-lg-6 {
        flex: 0 0 49.5%;
        max-width: 49.5%;
      }
    }
  }
}
// END:: LATEST NEWS MEDIA
// END:: LATEST NEWS SECTION SRTYLES

// START:: LATEST VIDEOS SECTION STYLES
.latest-videos {
  padding: $sectionPadding;
  .card {
    margin: 10px;
    padding: 0;
    border-radius: 0;
    .card-video-box {
      position: relative;
      padding: 0;
      max-height: 125px;
      min-height: 125px;
      .card-video-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 15px;
        word-wrap: break-word;
        a { 
          i {
            color: $mainColor;
            font-size: 70px;
          }
        }
      }
    }
    .card-body {
      padding-bottom: 0; 
      .card-text {
        text-align: start;
        a {
          &:hover {
            text-decoration: none;
          }
        } 
      }
      .videos-page-dir {
        text-align: center;
        margin: 10px 0;
        padding: 5px 0;
        @include transitioning(0.4s);
        &:hover {
          i {
            @include transitioning(0.4s);
            margin-right: 5px;
          }
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// END:: LATEST VIDEOS SECTION STYLES

// START:: VIDEOS PAGE STYLES
.videos {
  .videos-container {
    .card {
      .card-body {
        flex: 0 1 auto;
        .card-title {
          color: $mainColor;
          text-align: start;
          font-size: 20px;
          font-weight: 600;
        }
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// END:: VIDEOS PAGE STYLES

// START:: NEWS PAGE STYLES
.news {
  .news-container {
    .card {
      border-radius: 0;
      padding: 0;
      .card-news-box {
        padding: 0;
        border-radius: 0;
        height: 170px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-body {
        text-align: start;
        flex: 0 1 auto;
        .card-text {
          color: $mainColor;
          text-align: start;
          font-size: 15px;
          font-weight: 600;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// END:: NEWS PAGE STYLES

// START:: GALLERY PAGE STYLES
.gallery {
  .gallery-container {
    .card {
      border-radius: 0;
      padding: 0;
      .card-gallery-box {
        padding: 0;
        border-radius: 0;
        height: 170px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-body {
        text-align: start;
        flex: 0 1 auto;
        .card-text {
          color: $mainColor;
          text-align: start;
          font-size: 15px;
          font-weight: 600;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// END:: GALLERY PAGE STYLES

// START:: FOOTER STYLES
.footer {
  padding: 10px 0;
  .info {
    h5 {
      color: #fff; 
      a {
        color: $mainColor;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// END:: FOOTER STYLES
