* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

* input:focus,
* button:focus,
* a:focus {
  outline: none;
}

* .custom-title {
  text-align: right;
  color: #1983ca;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}

* .custom-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 8rem;
  height: 2px;
  background-color: #1983ca;
}

* #side-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

html {
  direction: rtl;
}

html body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

html body::-webkit-scrollbar {
  background-color: #343a40;
  width: 5px;
}

html body::-webkit-scrollbar-thumb {
  background-color: #1983ca;
}

.navbar {
  -webkit-box-shadow: 0 0 5px 3px #222;
  -o-box-shadow: 0 0 5px 3px #222;
  box-shadow: 0 0 5px 3px #222;
  z-index: 999 !important;
  padding: 0;
}

.navbar .navbar-brand span {
  font-family: "Righteous", cursive;
  font-size: 25px;
  -webkit-text-shadow: 0 0 3px #fff;
  -moz-text-shadow: 0 0 3px #fff;
  -o-text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 3px #fff;
}

.navbar .navbar-nav {
  padding: 0;
}

.navbar .navbar-nav .nav-item {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-item.active a {
  border-bottom: 1px solid #1983ca;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #1983ca;
  color: #1983ca;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
  position: absolute;
  top: 95%;
  right: 7%;
  width: 85%;
  border-radius: 0;
  padding: 20px;
}

.navbar .navbar-nav .nav-item .dropdown-menu .sub-sec-one {
  padding-left: 90px;
}

.navbar .navbar-nav .nav-item .dropdown-menu .sub-sec-tow {
  border-right: 1px solid #1983ca;
  padding-left: 90px;
}

.navbar .navbar-nav .nav-item .dropdown-menu a {
  color: #fff;
  text-align: right;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: transparent;
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar-social ul li {
  display: inline-block;
  margin: 0 4px;
}

.navbar .navbar-social ul li .search {
  background-color: transparent;
  border: none;
  font-size: 40px;
  opacity: 1;
  color: #fff;
  -webkit-text-shadow: 0 0 4px #fff;
  -moz-text-shadow: 0 0 4px #fff;
  -o-text-shadow: 0 0 4px #fff;
  text-shadow: 0 0 4px #fff;
}

.navbar .navbar-social ul li a {
  color: #acacac;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-social ul li a.facebook:hover {
  color: #0077ff;
}

.navbar .navbar-social ul li a.twitter:hover {
  color: #009dff;
}

.navbar .navbar-social ul li a.youtube:hover {
  color: #ee1414;
}

.navbar .navbar-social ul li a.insta:hover {
  color: #f7623f;
}

.navbar .navbar-social ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area {
  padding: 25px 0;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.search-area .close-search-area {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .close-search-area:hover {
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .nav-search .search-input {
  font-size: 25px;
  color: #888;
  font-weight: 600;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1983ca;
  padding: 15px;
  caret-color: #1983ca;
}

.search-area .nav-search .search-input::-webkit-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input:-ms-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input::-ms-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input::placeholder {
  color: #888;
}

.search-area .nav-search ul {
  list-style: none;
}

.search-area .nav-search ul li {
  text-align: initial;
  margin-bottom: 15px;
  margin-right: 5px;
  font-size: 18px;
}

.search-area .nav-search ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0;
}

.search-area .nav-search ul li a {
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .nav-search ul li a:hover {
  color: #1983ca;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.matches-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(525px - 62px);
  overflow: hidden;
  line-height: 0;
  background: #444 url("../imgs/playground.jpg");
  background-size: cover;
}

.matches-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.matches-box .overlay .nav-tabs {
  border-bottom: none;
  position: relative;
  top: 30px;
  right: 35%;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link {
  padding: 17px;
  border: none;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link.active {
  background-color: #1983ca;
  color: #fff;
  border: none;
  border-radius: 0;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link.hover {
  border: none;
  border-color: transparent;
}

.matches-box .overlay .tab-content .tab-pane .empty-tag-content {
  position: relative;
  margin-top: 2.7%;
  width: 100%;
  background-color: #343a40;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-box .overlay .tab-content .tab-pane .empty-tag-content h3 {
  color: #1983ca;
}

.matches-box .overlay #matches-cards-slider,
.matches-box .overlay #live-matches-slider {
  position: absolute;
  top: 63px;
  left: 0;
}

.matches-box .overlay #matches-cards-slider .match-card,
.matches-box .overlay #live-matches-slider .match-card {
  min-height: 130px;
  padding: 15px;
  background-color: #343a40;
  color: #fff;
  border: 1px solid #333;
}

.matches-box .overlay #matches-cards-slider .match-card a,
.matches-box .overlay #live-matches-slider .match-card a {
  text-align: center;
}

.matches-box .overlay #matches-cards-slider .match-card a img,
.matches-box .overlay #live-matches-slider .match-card a img {
  display: inline-block;
  width: 35px !important;
  height: auto;
}

.matches-box .overlay #matches-cards-slider .match-card p,
.matches-box .overlay #live-matches-slider .match-card p {
  margin-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.matches-box .overlay #matches-cards-slider .match-card p.competition-name,
.matches-box .overlay #live-matches-slider .match-card p.competition-name {
  color: #1983ca;
  font-size: 0.7rem;
  font-weight: bold;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-result,
.matches-box .overlay #live-matches-slider .match-card p.match-result {
  font-size: 600;
  padding: 5px 0;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-stat,
.matches-box .overlay #live-matches-slider .match-card p.match-stat {
  padding: 5px 0;
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-stat span,
.matches-box .overlay #live-matches-slider .match-card p.match-stat span {
  border: 1px solid #1983ca;
  padding: 1px 6px;
  border-radius: 8px;
  background-color: #212121;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-time,
.matches-box .overlay #live-matches-slider .match-card p.match-time {
  padding-top: 5px;
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-time .live,
.matches-box .overlay #live-matches-slider .match-card p.match-time .live {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #f04033;
  -webkit-animation-name: live;
          animation-name: live;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@-webkit-keyframes live {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes live {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matches-box .overlay #matches-cards-slider .match-card p.team-name,
.matches-box .overlay #live-matches-slider .match-card p.team-name {
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .owl-nav button,
.matches-box .overlay #live-matches-slider .owl-nav button {
  background: #1983ca;
  padding: 15px !important;
  margin-top: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 3px #1983ca;
  -o-box-shadow: 0 0 3px 3px #1983ca;
  box-shadow: 0 0 3px 3px #1983ca;
}

.matches-box .overlay #matches-cards-slider .owl-nav button:last-of-type,
.matches-box .overlay #live-matches-slider .owl-nav button:last-of-type {
  margin-right: 100px;
}

.matches-box .overlay #matches-cards-slider .owl-nav button span,
.matches-box .overlay #live-matches-slider .owl-nav button span {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.matches-box #curve {
  position: absolute;
  bottom: 0;
  display: block;
  width: calc(145% + 1.3px);
  height: 197px;
}

.matches-box .shape-fill {
  fill: #fff;
}

.teams-section {
  padding-top: 40px;
}

.teams-section #teams-slider {
  width: 70%;
}

.teams-section #teams-slider.owl-rtl .owl-item .team-card {
  background-color: #d7d6d6;
  border-top: 2px solid #1983ca;
  border-bottom: 2px solid #1983ca;
  border-radius: 5px;
  padding: 5px;
}

.teams-section #teams-slider .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
}

.teams-section #teams-slider .owl-nav button {
  background: #1983ca;
  padding: 9px !important;
  margin: 10px -50px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 1px #1983ca;
  -o-box-shadow: 0 0 3px 1px #1983ca;
  box-shadow: 0 0 3px 1px #1983ca;
}

.teams-section #teams-slider .owl-nav button:last-of-type {
  margin-right: 100px;
}

.teams-section #teams-slider .owl-nav button span {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 0;
}

.latest-news {
  padding: 40px 0;
}

.latest-news .news-img-container {
  position: relative;
  padding: 0;
}

.latest-news .news-img-container .news-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  word-wrap: break-word;
}

.latest-news .news-img-container .news-overlay a {
  color: inherit;
  font-size: 600;
}

.latest-news img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .latest-news .news-img-container.col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.1%;
            flex: 0 0 41.1%;
    max-width: 41.1%;
  }
  .latest-news .news-img-container.col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.5%;
            flex: 0 0 49.5%;
    max-width: 49.5%;
  }
}

.latest-videos {
  padding: 40px 0;
}

.latest-videos .card {
  margin: 10px;
  padding: 0;
  border-radius: 0;
}

.latest-videos .card .card-video-box {
  position: relative;
  padding: 0;
  max-height: 180px;
  min-height: 180px;
}

.latest-videos .card .card-video-box .card-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  word-wrap: break-word;
}

.latest-videos .card .card-video-box .card-video-overlay a i {
  color: #1983ca;
  font-size: 70px;
  -webkit-text-shadow: 0 0 5px #1983ca;
  -moz-text-shadow: 0 0 5px #1983ca;
  -o-text-shadow: 0 0 5px #1983ca;
  text-shadow: 0 0 5px #1983ca;
}

.latest-videos .card .card-body {
  padding-bottom: 0;
}

.latest-videos .card .card-body .card-text {
  text-align: start;
}

.latest-videos .card .card-body .card-text a:hover {
  text-decoration: none;
}

.latest-videos .card .card-body .videos-page-dir {
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.latest-videos .card .card-body .videos-page-dir:hover i {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-right: 5px;
}

.latest-videos .card .card-body .videos-page-dir a:hover {
  text-decoration: none;
}

.latest-videos img {
  width: 100%;
  height: 100%;
}

.videos .videos-container .card .card-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.videos .videos-container .card .card-body .card-title {
  color: #1983ca;
  text-align: start;
  font-size: 20px;
  font-weight: 600;
}

.videos .videos-container .card iframe {
  width: 100%;
  height: 100%;
}

.all-videos .all-videos-container .card {
  margin: 10px;
  padding: 0;
  border-radius: 0;
}

.all-videos .all-videos-container .card .card-video-box {
  position: relative;
  padding: 0;
  max-height: 180px;
  min-height: 180px;
}

.all-videos .all-videos-container .card .card-video-box .card-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  word-wrap: break-word;
}

.all-videos .all-videos-container .card .card-video-box .card-video-overlay a i {
  color: #1983ca;
  font-size: 70px;
  -webkit-text-shadow: 0 0 5px #1983ca;
  -moz-text-shadow: 0 0 5px #1983ca;
  -o-text-shadow: 0 0 5px #1983ca;
  text-shadow: 0 0 5px #1983ca;
}

.all-videos .all-videos-container .card .card-body .card-text {
  text-align: start;
}

.all-videos .all-videos-container .card .card-body .card-text a:hover {
  text-decoration: none;
}

.all-videos .all-videos-container img {
  width: 100%;
  height: 100%;
}

.news .news-container .card {
  border-radius: 0;
  padding: 0;
}

.news .news-container .card .card-news-box {
  padding: 0;
  border-radius: 0;
  height: 170px;
}

.news .news-container .card .card-news-box img {
  width: 100%;
  height: 100%;
}

.news .news-container .card .card-body {
  text-align: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.news .news-container .card .card-body .card-text {
  color: #1983ca;
  text-align: start;
  font-size: 15px;
  font-weight: 600;
}

.news .news-container .card .card-body .card-text a:hover {
  text-decoration: none;
}

.gallery .gallery-container .card {
  border-radius: 0;
  padding: 0;
}

.gallery .gallery-container .card .card-gallery-box {
  padding: 0;
  border-radius: 0;
  height: 170px;
}

.gallery .gallery-container .card .card-gallery-box img {
  width: 100%;
  height: 100%;
}

.gallery .gallery-container .card .card-body {
  text-align: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.gallery .gallery-container .card .card-body .card-text {
  color: #1983ca;
  text-align: start;
  font-size: 15px;
  font-weight: 600;
}

.gallery .gallery-container .card .card-body .card-text a:hover {
  text-decoration: none;
}

.team-details .team-details-container .box {
  position: relative;
}

.team-details .team-details-container .box .tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #343a40;
  width: 100%;
  padding: 5px 10px;
}

.team-details .team-details-container .box .tabs-container .team-logo-container span {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  -webkit-text-shadow: 0 0 3px #fff;
  -moz-text-shadow: 0 0 3px #fff;
  -o-text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 3px #fff;
}

.team-details .team-details-container .box .tabs-container .nav-pills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 0;
}

.team-details .team-details-container .box .tabs-container .nav-pills li a {
  padding: 5px 0;
  margin: 10px;
  color: #fff;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-details .team-details-container .box .tabs-container .nav-pills li a.active {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #1983ca;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
  font-weight: 600;
}

.team-details .team-details-container .box .tabs-container .nav-pills li a:hover {
  border-bottom: 2px solid #1983ca;
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-details .team-details-container .box .tab-content .tab-pane {
  margin: 15px 0;
}

.team-details .team-details-container .box .tab-content .tab-pane iframe {
  width: 100% !important;
  height: 100% !important;
}

.team-details .team-details-container .box .tab-content .tab-pane p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}

.team-details .team-details-container .box .tab-content .tab-pane p span {
  color: #1983ca;
  font-weight: 600;
  margin-left: 3px;
}

.team-details .team-details-container .box .tab-content .tab-pane p i {
  font-size: 22px;
  color: #1983ca;
}

.team-details .team-details-container .box .tab-content .tab-pane h4 {
  color: #1983ca;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-info h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-info p {
  color: #343a40;
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.8;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-news {
  position: relative;
  min-height: 230px;
  max-height: 230px;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-news .overlay {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-news .overlay a {
  text-align: start;
  color: #fff;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-news .overlay a:hover {
  color: #fff;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-news img {
  height: 230px !important;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-videos .card .card-title {
  color: #1983ca;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-videos .card iframe {
  height: 100% !important;
  width: 100% !important;
}

.team-details .team-details-container .box .tab-content .tab-pane .nav-pills li {
  width: 50%;
}

.team-details .team-details-container .box .tab-content .tab-pane .nav-pills li a.active {
  border-radius: 0;
  background-color: #1983ca;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card {
  background-color: #f1f1f1;
  border-radius: 0;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body h6 {
  color: #1983ca;
  font-weight: bold;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body p {
  color: #343a40;
  margin-bottom: 0;
  font-size: 15px;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body .status {
  background-color: #1983ca;
  color: #fff;
  border-radius: 10px;
  margin: 13px 0;
  font-size: 15px;
  padding: 5px 8px;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body .date {
  margin: 13px 0;
  font-size: 15px;
  color: #777;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body .playground {
  font-size: 15px;
  color: #777;
}

.team-details .team-details-container .box .tab-content .tab-pane .team-match-card .card-body .playground i {
  color: #1983ca;
  font-size: 18px;
}

.team-details .team-details-container .box .tab-content .tab-pane .players-table thead tr {
  border-bottom: none;
}

.team-details .team-details-container .box .tab-content .tab-pane .players-table thead tr th {
  border-bottom: none;
}

.team-details .team-details-container .box .tab-content .tab-pane .players-table tbody tr td a {
  color: #444;
  text-decoration: none;
}

.team-details .team-details-container .box .tab-content .tab-pane .players-table tbody tr td a:hover {
  color: #444;
  text-decoration: none;
}

.player-details {
  background-image: url(../imgs/playground.jpg);
  background-size: cover;
  position: relative;
}

.player-details .overlay {
  padding: 40px 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.player-details .overlay h3 {
  text-align: center;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
}

.player-details .overlay h3 span {
  font-size: 1.2rem;
}

.player-details .overlay .player-img .img-border {
  display: inline-block;
  -webkit-box-shadow: 0 0 5px 2px #c9c9c9;
  -o-box-shadow: 0 0 5px 2px #c9c9c9;
  box-shadow: 0 0 5px 2px #c9c9c9;
  padding: 5px;
  border-radius: 15px;
}

.player-details .overlay .player-img .img-border img {
  max-width: 350px;
  min-width: 350px;
  max-height: 350px;
  min-height: 350px;
  border-radius: 15px;
}

.player-details .overlay .player-info {
  text-align: center;
  padding: 10px  15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px #c9c9c9;
  -o-box-shadow: 0 0 5px 2px #c9c9c9;
  box-shadow: 0 0 5px 2px #c9c9c9;
}

.player-details .overlay .player-info p {
  color: #fff;
  font-size: 18px;
  color: #c9c9c9;
}

.player-details .overlay .player-info p span {
  margin-left: 5px;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
}

.player-details .overlay .card {
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: transparent;
}

.player-details .overlay .card.play {
  border: 1px solid #60cb60;
  color: #60cb60;
  -webkit-box-shadow: 0 0 5px 2px #60cb60;
  -o-box-shadow: 0 0 5px 2px #60cb60;
  box-shadow: 0 0 5px 2px #60cb60;
}

.player-details .overlay .card.play .card-body h4 {
  -webkit-text-shadow: 0 0 3px #60cb60;
  -moz-text-shadow: 0 0 3px #60cb60;
  -o-text-shadow: 0 0 3px #60cb60;
  text-shadow: 0 0 3px #60cb60;
  margin: 10px 0;
}

.player-details .overlay .card.play .card-body p {
  font-size: 25px;
  margin-bottom: 0;
  -webkit-text-shadow: 0 0 3px #60cb60;
  -moz-text-shadow: 0 0 3px #60cb60;
  -o-text-shadow: 0 0 3px #60cb60;
  text-shadow: 0 0 3px #60cb60;
}

.player-details .overlay .card.goals {
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
  -webkit-box-shadow: 0 0 5px 2px #c9c9c9;
  -o-box-shadow: 0 0 5px 2px #c9c9c9;
  box-shadow: 0 0 5px 2px #c9c9c9;
}

.player-details .overlay .card.goals .card-body h4 {
  -webkit-text-shadow: 0 0 3px #c9c9c9;
  -moz-text-shadow: 0 0 3px #c9c9c9;
  -o-text-shadow: 0 0 3px #c9c9c9;
  text-shadow: 0 0 3px #c9c9c9;
  margin: 10px 0;
}

.player-details .overlay .card.goals .card-body p {
  font-size: 25px;
  margin-bottom: 0;
  -webkit-text-shadow: 0 0 3px #c9c9c9;
  -moz-text-shadow: 0 0 3px #c9c9c9;
  -o-text-shadow: 0 0 3px #c9c9c9;
  text-shadow: 0 0 3px #c9c9c9;
}

.player-details .overlay .card.yellow-cards {
  border: 1px solid #fff44b;
  color: #fff44b;
  -webkit-box-shadow: 0 0 5px 2px #fff44b;
  -o-box-shadow: 0 0 5px 2px #fff44b;
  box-shadow: 0 0 5px 2px #fff44b;
}

.player-details .overlay .card.yellow-cards .card-body h4 {
  -webkit-text-shadow: 0 0 3px #fff44b;
  -moz-text-shadow: 0 0 3px #fff44b;
  -o-text-shadow: 0 0 3px #fff44b;
  text-shadow: 0 0 3px #fff44b;
  margin: 10px 0;
}

.player-details .overlay .card.yellow-cards .card-body p {
  font-size: 25px;
  margin-bottom: 0;
  -webkit-text-shadow: 0 0 3px #fff44b;
  -moz-text-shadow: 0 0 3px #fff44b;
  -o-text-shadow: 0 0 3px #fff44b;
  text-shadow: 0 0 3px #fff44b;
}

.player-details .overlay .card.red-cards {
  border: 1px solid #e53d3d;
  color: #e53d3d;
  -webkit-box-shadow: 0 0 5px 2px #e53d3d;
  -o-box-shadow: 0 0 5px 2px #e53d3d;
  box-shadow: 0 0 5px 2px #e53d3d;
}

.player-details .overlay .card.red-cards .card-body h4 {
  -webkit-text-shadow: 0 0 3px #e53d3d;
  -moz-text-shadow: 0 0 3px #e53d3d;
  -o-text-shadow: 0 0 3px #e53d3d;
  text-shadow: 0 0 3px #e53d3d;
  margin: 10px 0;
}

.player-details .overlay .card.red-cards .card-body p {
  font-size: 25px;
  margin-bottom: 0;
  -webkit-text-shadow: 0 0 3px #e53d3d;
  -moz-text-shadow: 0 0 3px #e53d3d;
  -o-text-shadow: 0 0 3px #e53d3d;
  text-shadow: 0 0 3px #e53d3d;
}

.filters button {
  border: none;
  background-color: transparent;
  color: #1983ca;
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
}

.filters button i {
  font-size: 40px;
}

.filters .js-example-basic-single {
  width: 30%;
  margin: 5px;
}

.filters .js-example-basic-single .select2-selection__rendered {
  padding: 5px;
  color: #1983ca !important;
}

.filters .js-example-basic-single:focus {
  outline-color: none !important;
}

.matches-table {
  min-height: 600px;
  padding: 40px 0;
}

.matches-table .nav-pills {
  position: relative;
  z-index: 10;
}

.matches-table .nav-pills .owl-stage-outer .owl-stage .owl-item .nav-link.active {
  border-radius: 0;
  background-color: #1983ca;
}

.matches-table .nav-pills .owl-nav {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 0;
}

.matches-table .nav-pills .owl-nav button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #1983ca;
  font-size: 40px;
  margin: 5px -35px;
}

.matches-table .nav-pills .owl-nav button:hover {
  background: transparent;
  color: #1983ca;
}

.matches-table .matches-table-content .tab-pane h2 {
  margin-top: 70px;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
}

.matches-table .matches-table-content .tab-pane .team-match-card {
  background-color: #f1f1f1;
  border-radius: 0;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body h6 {
  color: #1983ca;
  font-weight: bold;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body p {
  color: #343a40;
  margin-bottom: 0;
  font-size: 15px;
  text-align: center;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body .status {
  background-color: #1983ca;
  color: #fff;
  border-radius: 10px;
  margin: 13px 0;
  font-size: 15px;
  padding: 5px 8px;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body .date {
  margin: 13px 0;
  font-size: 15px;
  color: #777;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body .playground {
  font-size: 15px;
  color: #777;
}

.matches-table .matches-table-content .tab-pane .team-match-card .card-body .playground i {
  color: #1983ca;
  font-size: 18px;
}

.comp-details .comp-details-container .box {
  position: relative;
}

.comp-details .comp-details-container .box .tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #343a40;
  width: 100%;
  padding: 5px 10px;
}

.comp-details .comp-details-container .box .tabs-container .comp-logo-container span {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  -webkit-text-shadow: 0 0 3px #fff;
  -moz-text-shadow: 0 0 3px #fff;
  -o-text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 3px #fff;
}

.comp-details .comp-details-container .box .tabs-container .nav-pills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 0;
}

.comp-details .comp-details-container .box .tabs-container .nav-pills li a {
  padding: 5px 0;
  margin: 10px;
  color: #fff;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.comp-details .comp-details-container .box .tabs-container .nav-pills li a.active {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #1983ca;
  color: #1983ca;
  -webkit-text-shadow: 0 0 3px #1983ca;
  -moz-text-shadow: 0 0 3px #1983ca;
  -o-text-shadow: 0 0 3px #1983ca;
  text-shadow: 0 0 3px #1983ca;
  font-weight: 600;
}

.comp-details .comp-details-container .box .tabs-container .nav-pills li a:hover {
  border-bottom: 2px solid #1983ca;
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.comp-details .comp-details-container .box .tab-content .tab-pane {
  margin: 15px 0;
}

.comp-details .comp-details-container .box .tab-content .tab-pane iframe {
  width: 100% !important;
  height: 100% !important;
}

.comp-details .comp-details-container .box .tab-content .tab-pane p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane p span {
  color: #1983ca;
  font-weight: 600;
  margin-left: 3px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane p i {
  font-size: 22px;
  color: #1983ca;
}

.comp-details .comp-details-container .box .tab-content .tab-pane h4 {
  color: #1983ca;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-info h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-info p {
  color: #343a40;
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.8;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-statistics {
  padding: 40px 0;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-statistics .row .col-5 {
  margin-bottom: 20px;
  border-left: 1px solid #a1a1a1;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-statistics .row .col-5:nth-child(2), .comp-details .comp-details-container .box .tab-content .tab-pane .comp-statistics .row .col-5:last-child {
  border-left: 1px solid transparent;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-statistics p {
  font-size: 20px;
  color: #777;
  -webkit-text-shadow: 0 0 2px #555;
  -moz-text-shadow: 0 0 2px #555;
  -o-text-shadow: 0 0 2px #555;
  text-shadow: 0 0 2px #555;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .team-news {
  position: relative;
  min-height: 230px;
  max-height: 230px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .team-news .overlay {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .team-news .overlay a {
  text-align: start;
  color: #fff;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .team-news .overlay a:hover {
  color: #fff;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .team-news img {
  height: 230px !important;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-videos .card .card-title {
  color: #1983ca;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-videos .card iframe {
  height: 100% !important;
  width: 100% !important;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .nav-pills li {
  width: 50%;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .nav-pills li a.active {
  border-radius: 0;
  background-color: #1983ca;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card {
  background-color: #f1f1f1;
  border-radius: 0;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body h6 {
  color: #1983ca;
  font-weight: bold;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body p {
  color: #343a40;
  margin-bottom: 0;
  font-size: 15px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body .status {
  background-color: #1983ca;
  color: #fff;
  border-radius: 10px;
  margin: 13px 0;
  font-size: 15px;
  padding: 5px 8px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body .date {
  margin: 13px 0;
  font-size: 15px;
  color: #777;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body .playground {
  font-size: 15px;
  color: #777;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-match-card .card-body .playground i {
  color: #1983ca;
  font-size: 18px;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-table thead tr {
  border-bottom: none;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-table thead tr th {
  border-bottom: none;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-table tbody tr td a {
  color: #444;
  text-decoration: none;
}

.comp-details .comp-details-container .box .tab-content .tab-pane .comp-table tbody tr td a:hover {
  color: #444;
  text-decoration: none;
}

.footer {
  padding: 10px 0;
}

.footer .info h5 {
  color: #fff;
}

.footer .info h5 a {
  color: #1983ca;
}

.footer .info h5 a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */