// START:: SASS VARIABLES
$mainColor: #1983ca;
$secondaryColor: #343a40;
$sectionPadding: 40px 0;
// END:: SASS VARIABLES

// START:: SASS COMPONENTS
@mixin boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin scalling($s) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin boxShadow($b1, $b2, $b3, $b4, $b5) {
  -webkit-box-shadow: $b1 $b2 $b3 $b4 $b5;
  -moz-box-shadow: $b1 $b2 $b3 $b4 $b5;
  -o-box-shadow: $b1 $b2 $b3 $b4 $b5;
  box-shadow: $b1 $b2 $b3 $b4 $b5;
}

@mixin textShadow($ts1, $ts2, $ts3, $ts4) {
  -webkit-text-shadow: $ts1 $ts2 $ts3 $ts4;
  -moz-text-shadow: $ts1 $ts2 $ts3 $ts4;
  -o-text-shadow: $ts1 $ts2 $ts3 $ts4;
  text-shadow: $ts1 $ts2 $ts3 $ts4;
}
// END:: SASS COMPONENTS

// START:: GLOBAL STYLES
* {
  @include boxSizing();
  input:focus,
  button:focus,
  a:focus {
    outline: none;
  }

  .custom-title {
    text-align: right;
    color: $mainColor;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 8rem;
      height: 2px;
      background-color: $mainColor;
    }
  }

  #side-add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

html {
  direction: rtl;
  body {
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      background-color: $secondaryColor;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainColor;
    }
  }
}
// END:: GLOBAL STYLES

// START:: INTRO ADVERTISING
.add-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .intro-add {
    width: 70%;
    height: 80%;
    background: url('../imgs/intro.png');
    background-size: cover;
    span {
      position: relative;
      top: 15px;
      left: 20px;
      font-size: 30px;
      color: #555;
      cursor: pointer;
    }
  }
}
// END:: INTRO ADVERTISING

// START:: NAV BAR STYLES
.navbar {
  @include boxShadow(0, 0, 5px, 3px, #222);
  z-index: 999 !important;
  padding: 0;
  .navbar-brand {
    span {
      font-family: "Righteous", cursive;
      font-size: 25px;
      @include textShadow(0, 0, 3px, #fff);
    }
  }
  .navbar-nav {
    padding: 0;
    .nav-item {
      margin: 0 3px;
      &.active {
        a {
          border-bottom: 1px solid $mainColor;
          color: $mainColor;
          @include textShadow(0, 0, 3px, $mainColor);
        }
      }
      .nav-link {
        color: #fff;
        border-bottom: 1px solid transparent;
        @include transitioning(0.4s);
        &:hover {
          border-bottom: 1px solid $mainColor;
          color: $mainColor;
        }
      }
      .dropdown-menu {
        position: absolute;
        top: 95%;
        right: 7%;
        width: 85%;
        border-radius: 0;
        padding: 20px;
        .sub-sec-one {
          padding-left: 90px;
        }
        .sub-sec-tow {
          border-right: 1px solid $mainColor;
          padding-left: 90px;
        }
        a {
          color: #fff;
          text-align: right;
          @include transitioning(0.4s);
          &:hover {
            background-color: transparent;
            color: $mainColor;
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
  .navbar-social {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 4px;
        .search {
          background-color: transparent;
          border: none;
          font-size: 40px;
          opacity: 1;
          color: #fff;
          @include textShadow(0, 0, 4px, #fff);
        }
        a {
          color: rgb(172, 172, 172);
          opacity: 0.5;
          @include transitioning(0.4s);
          &.facebook:hover {
            color: #0077ff;
          }
          &.twitter:hover {
            color: #009dff;
          }
          &.youtube:hover {
            color: rgb(238, 20, 20);
          }
          &.insta:hover {
            color: #f7623f;
          }
          &:hover {
            opacity: 1;
            @include scalling(1.5);
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
}
// END:: NAV BAR STYLES

// START:: SEARCH AREA STYLES
.search-area {
  padding: 25px 0;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .close-search-area {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    @include transitioning(0.4s);
    &:hover {
      color: $mainColor;
      @include transitioning(0.4s);
    }
  }
  .nav-search {
    .search-input {
      font-size: 25px;
      color: #888;
      font-weight: 600;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $mainColor;
      padding: 15px;
      caret-color: $mainColor;
      &::placeholder {
        color: #888;
      }
    }
    ul {
      list-style: none;
      li {
        text-align: initial;
        margin-bottom: 15px;
        margin-right: 5px;
        font-size: 18px;
        &::before {
          content: "\2022";
          color: #fff;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: 0;
        }
        a {
          color: #fff;
          @include transitioning(0.4s);
          &:hover {
            color: $mainColor;
            text-decoration: none;
            @include transitioning(0.4s);
          }
        }
      }
    }
  }
}
// END:: SEARCH AREA STYLES

// START:: MATCHES SECTION STYLES
.matches-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(525px - 62px);
  overflow: hidden;
  line-height: 0;
  background: #444 url("../imgs/playground.jpg");
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .nav-tabs {
      border-bottom: none;
      position: relative;
      top: 30px;
      right: 35%;
      .nav-item {
        .nav-link {
          padding: 17px;
          border: none;
          &.active {
            background-color: $mainColor;
            color: #fff;
            border: none;
            border-radius: 0;
          }
          &.hover {
            border: none;
            border-color: transparent;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        .empty-tag-content {
          position: relative;
          margin-top: 2.7%;
          width: 100%;
          background-color: $secondaryColor;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            color: $mainColor;
          }
        }
      }
    }
    #matches-cards-slider,
    #live-matches-slider {
      position: absolute;
      top: 63px;
      left: 0;
      .match-card {
        min-height: 130px;
        padding: 15px;
        background-color: $secondaryColor;
        color: #fff;
        border: 1px solid #333;
        a {
          text-align: center;
          img {
            display: inline-block;
            width: 35px !important;
            height: auto;
          }
        }
        p {
          margin-top: 15px;
          padding-bottom: 0;
          margin-bottom: 0;
          &.competition-name {
            color: $mainColor;
            font-size: 0.7rem;
            font-weight: bold;
          }
          &.match-result {
            font-size: 600;
            padding: 5px 0;
          }
          &.match-stat {
            padding: 5px 0;
            font-size: 12px;
            span {
              border: 1px solid $mainColor;
              padding: 1px 6px;
              border-radius: 8px;
              background-color: #212121;
            }
          }
          &.match-time {
            padding-top: 5px;
            font-size: 12px;
            .live {
              margin: 0;
              padding: 0;
              font-size: 13px;
              color: #f04033;
              animation-name: live;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              @include transitioning(0.4s);
              // START:: LIVE ICON ANIMATION
              @keyframes live {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
              // END:: LIVE ICON ANIMATION
            }
          }
          &.team-name {
            font-size: 12px;
          }
        }
      }
      .owl-nav {
        button {
          &:last-of-type {
            margin-right: 100px;
          }
          background: $mainColor;
          padding: 15px !important;
          margin-top: 15px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          text-align: center;
          @include boxShadow(0, 0, 3px, 3px, $mainColor);
          span {
            color: #fff;
            font-size: 40px;
            font-weight: 600;
          }
        }
      }
    }
  }
  #curve {
    position: absolute;
    bottom: 0;
    display: block;
    width: calc(145% + 1.3px);
    height: 197px;
  }
  .shape-fill {
    fill: #fff;
  }
}
// END::  MATCHES SECTION STYLES

// START:: MATCHES SECTION STYLES
.small-matches-box {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
  line-height: 0;
  background: #444 url("../imgs/playground.jpg");
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .nav-tabs {
      border-bottom: none;
      position: relative;
      top: 30px;
      right: 80px;
      .nav-item {
        .nav-link {
          padding: 17px;
          border: none;
          &.active {
            background-color: $mainColor;
            color: #fff;
            border: none;
            border-radius: 0;
          }
          &.hover {
            border: none;
            border-color: transparent;
          }
        }
      }
    }
    .tab-content {
      position: relative;
      top: 50px;
      .tab-pane {
        .empty-tag-content {
          position: relative;
          margin-top: 2.7%;
          width: 100%;
          background-color: $secondaryColor;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            color: $mainColor;
          }
        }
      }
    }
    .match-card {
      min-height: 130px;
      padding: 15px;
      background-color: $secondaryColor;
      color: #fff;
      border: 1px solid #333;
      a {
        text-align: center;
        img {
          display: inline-block;
          width: 35px !important;
          height: auto;
        }
      }
      p {
        margin-top: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        &.competition-name {
          color: $mainColor;
          font-size: 0.7rem;
          font-weight: bold;
        }
        &.match-result {
          font-size: 600;
          padding: 5px 0;
        }
        &.match-stat {
          padding: 5px 0;
          font-size: 12px;
          span {
            border: 1px solid $mainColor;
            padding: 1px 6px;
            border-radius: 8px;
            background-color: #212121;
          }
        }
        &.match-time {
          padding-top: 5px;
          font-size: 12px;
          .live {
            margin: 0;
            padding: 0;
            font-size: 13px;
            color: #f04033;
            animation-name: live;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            @include transitioning(0.4s);
            // START:: LIVE ICON ANIMATION
            @keyframes live {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
            // END:: LIVE ICON ANIMATION
          }
        }
        &.team-name {
          font-size: 12px;
        }
      }
    }
  }
}
// END::  MATCHES SECTION STYLES

// START:: TEAMS SLIDER SECTION PSTYLES
.teams-section {
  padding-top: 40px;
  #teams-slider {
    width: 70%;
    &.owl-rtl {
      .owl-item {
        .team-card {
          background-color: #d7d6d6;
          border-top: 2px solid $mainColor;
          border-bottom: 2px solid $mainColor;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
    .owl-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 0;
      button {
        &:last-of-type {
          margin-right: 100px;
        }
        background: $mainColor;
        padding: 9px !important;
        margin: 10px -50px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        @include boxShadow(0, 0, 3px, 1px, $mainColor);
        span {
          color: #fff;
          font-size: 40px;
          font-weight: 600;
          line-height: 0;
        }
      }
    }
  }
}
// END:: TEAMS SLIDER SECTION PSTYLES

// START:: LATEST NEWS SECTION SRTYLES
.latest-news {
  padding: $sectionPadding;
  .news-img-container {
    position: relative;
    padding: 0;
    .news-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 15px;
      word-wrap: break-word;
      a {
        color: inherit;
        font-size: 600;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// START:: LATEST NEWS MEDIA
@media (min-width: 992px) {
  .latest-news {
    .news-img-container {
      &.col-lg-5 {
        flex: 0 0 41.1%;
        max-width: 41.1%;
      }
      &.col-lg-6 {
        flex: 0 0 49.5%;
        max-width: 49.5%;
      }
    }
  }
}
// END:: LATEST NEWS MEDIA
// END:: LATEST NEWS SECTION SRTYLES

// START:: LATEST VIDEOS SECTION STYLES
.latest-videos {
  padding: $sectionPadding;
  .card {
    margin: 10px;
    padding: 0;
    border-radius: 0;
    .card-video-box {
      position: relative;
      padding: 0;
      max-height: 180px;
      min-height: 180px;
      .card-video-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 15px;
        word-wrap: break-word;
        a {
          i {
            color: $mainColor;
            font-size: 70px;
            @include textShadow(0, 0, 5px, $mainColor);
          }
        }
      }
    }
    .card-body {
      padding-bottom: 0;
      .card-text {
        text-align: start;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      .videos-page-dir {
        text-align: center;
        margin: 10px 0;
        padding: 5px 0;
        @include transitioning(0.4s);
        &:hover {
          i {
            @include transitioning(0.4s);
            margin-right: 5px;
          }
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// END:: LATEST VIDEOS SECTION STYLES

// START:: VIDEOS PAGE STYLES
.videos {
  .videos-container {
    .card {
      .card-body {
        flex: 0 1 auto;
        .card-title {
          color: $mainColor;
          text-align: start;
          font-size: 20px;
          font-weight: 600;
        }
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// END:: VIDEOS PAGE STYLES

// START:: ALL VIDEOS PAGE STYLES
.all-videos {
  .all-videos-container {
    .card {
      margin: 10px;
      padding: 0;
      border-radius: 0;
      .card-video-box {
        position: relative;
        padding: 0;
        max-height: 180px;
        min-height: 180px;
        .card-video-overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.7);
          color: #fff;
          padding: 15px;
          word-wrap: break-word;
          a {
            i {
              color: $mainColor;
              font-size: 70px;
              @include textShadow(0, 0, 5px, $mainColor);
            }
          }
        }
      }
      .card-body {
        .card-text {
          text-align: start;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// END:: ALL VIDEOS PAGE STYLES

// START:: NEWS PAGE STYLES
.news {
  .news-container {
    .card {
      border-radius: 0;
      padding: 0;
      .card-news-box {
        padding: 0;
        border-radius: 0;
        height: 170px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-body {
        text-align: start;
        flex: 0 1 auto;
        .card-text {
          color: $mainColor;
          text-align: start;
          font-size: 15px;
          font-weight: 600;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// END:: NEWS PAGE STYLES

// START:: GALLERY PAGE STYLES
.gallery {
  .gallery-container {
    .card {
      border-radius: 0;
      padding: 0;
      .card-gallery-box {
        padding: 0;
        border-radius: 0;
        height: 170px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-body {
        text-align: start;
        flex: 0 1 auto;
        .card-text {
          color: $mainColor;
          text-align: start;
          font-size: 15px;
          font-weight: 600;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// END:: GALLERY PAGE STYLES

// START:: TEAM DETAILS PAGE STYLES
.team-details {
  .team-details-container {
    .box {
      position: relative;
      .tabs-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $secondaryColor;
        width: 100%;
        padding: 5px 10px;
        .team-logo-container {
          span {
            font-size: 25px;
            font-weight: 600;
            color: #fff;
            @include textShadow(0, 0, 3px, #fff)
          }
        }
        .nav-pills{
          align-items: center;
          justify-content: flex-end;
          padding-bottom: 0;
          li {
            a {
              padding: 5px 0;
              margin: 10px;
              color: #fff;
              border-radius: 0;
              border-bottom: 2px solid transparent;
              @include transitioning(0.4s);
              &.active {
                border: 0;
                background-color: transparent;
                border-bottom: 2px solid $mainColor;
                color: $mainColor;
                @include textShadow(0, 0, 3px, $mainColor);
                font-weight: 600;
              }
              &:hover {
                border-bottom: 2px solid $mainColor;
                color: $mainColor;
                @include transitioning(0.4s);
              }
            }
          } 
        }
      }
      .tab-content {
        .tab-pane {
          margin: 15px 0;
          iframe {
            width: 100% !important;
            height: 100% !important;
          }
          p {
            font-size: 18px;
            color: #fff;
            margin-bottom: 8px;
            span {
              color: $mainColor;
              font-weight: 600;
              margin-left: 3px;
            }
            i {
              font-size: 22px;
              color: $mainColor;
            }
          }
          h4 {
            color: $mainColor;
          }
          .team-info {
            h4 {
              font-weight: 600;
              margin-bottom: 10px;
            }
            p {
              color: $secondaryColor;
              word-wrap: break-word;
              text-align: justify;
              line-height: 1.8;
            } 
          }
          .team-news {
            position: relative;
            min-height: 230px;
            max-height: 230px;
            .overlay {
              padding: 10px;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              a {
                text-align: start;
                color: #fff;
                &:hover {
                  color: #fff
                }
              }
            }
            img {
              height: 230px !important;
            }
          }
          .team-videos {
            .card {
              .card-title {
                color: $mainColor;
              }
              iframe {
                height: 100% !important;
                width: 100% !important;
              } 
            }
          }
          .nav-pills {
            li {
              width: 50%;
              a {
                &.active {
                  border-radius: 0;
                  background-color: $mainColor;
                }
              }
            }
          }
          .team-match-card {
            background-color: #f1f1f1;
            border-radius: 0;
            .card-body {
              h6 {
                color: $mainColor;
                font-weight: bold;
              }
              p {
                color: $secondaryColor;
                margin-bottom: 0;
                font-size: 15px;
              }
              .status {
                background-color: $mainColor;
                color: #fff;
                border-radius: 10px;
                margin: 13px 0;
                font-size: 15px;
                padding: 5px 8px;
              }
              .date {
                margin: 13px 0;
                font-size: 15px;
                color: #777;
              }
              .playground {
                font-size: 15px;
                color: #777;
                i {
                  color: $mainColor;
                  font-size: 18px;
                }
              }
            }
          }
          .players-table {
            thead {
              tr {
                border-bottom: none;
                th {
                  border-bottom: none;
                }
              }
            }
            tbody {
              tr {
                td {
                  a {
                    color: #444;
                    text-decoration: none;
                    &:hover {
                      color: #444;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// END:: TEAM DETAILS PAGE STYLES

// START:: PLAYER DETAILS PAGE STYLES 
.player-details {
  background-image: url(../imgs/playground.jpg);
  background-size: cover;
  position: relative;
  .overlay {
    padding: $sectionPadding;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    h3 {
      text-align: center;
      color: $mainColor;
      @include textShadow( 0, 0, 3px, $mainColor);
      span {
        font-size: 1.2rem;
      }
    }
    .player-img {
      .img-border {
        display: inline-block;
        // border: 1px solid #666;
        @include boxShadow(0, 0, 5px, 2px, #c9c9c9);
        padding: 5px;
        border-radius: 15px;
        img {
          max-width: 350px;
          min-width: 350px;
          max-height: 350px;
          min-height: 350px;
          border-radius: 15px;
        }
      }
    }
    .player-info {
      text-align: center;
      padding: 10px  15px;
      border-radius: 10px;
      @include boxShadow(0, 0, 5px, 2px, #c9c9c9);
      p {
        color: #fff;
        font-size: 18px;
        color: #c9c9c9;
        span {
          margin-left: 5px;
          color: $mainColor;
          @include textShadow( 0, 0, 3px, $mainColor);
        }
      }
    }
    .card {
      border: none;
      color: #fff;
      border-radius: 10px;
      background-color: transparent;
      &.play {
        border: 1px solid #60cb60;
        color: #60cb60;
        @include boxShadow(0, 0, 5px, 2px, #60cb60);
        .card-body {
          h4 {
            @include textShadow(0, 0, 3px, #60cb60);
            margin: 10px 0;
          }
          p {
            font-size: 25px;
            margin-bottom: 0;
            @include textShadow(0, 0, 3px, #60cb60);
          }
        }
      }
      &.goals {
        border: 1px solid #c9c9c9;
        color: #c9c9c9;
        @include boxShadow(0, 0, 5px, 2px, #c9c9c9);
        .card-body {
          h4 {
            @include textShadow(0, 0, 3px, #c9c9c9);
            margin: 10px 0;
          }
          p {
            font-size: 25px;
            margin-bottom: 0;
            @include textShadow(0, 0, 3px, #c9c9c9);
          }
        }
      }
      &.yellow-cards {
        border: 1px solid #fff44b;
        color: #fff44b;
        @include boxShadow(0, 0, 5px, 2px, #fff44b);
        .card-body {
          h4 {
            @include textShadow(0, 0, 3px, #fff44b);
            margin: 10px 0;
          }
          p {
            font-size: 25px;
            margin-bottom: 0;
            @include textShadow(0, 0, 3px, #fff44b);
          }
        }
      }
      &.red-cards {
        border: 1px solid #e53d3d;
        color: #e53d3d;
        @include boxShadow(0, 0, 5px, 2px, #e53d3d);
        .card-body {
          h4 {
            @include textShadow(0, 0, 3px, #e53d3d);
            margin: 10px 0;
          }
          p {
            font-size: 25px;
            margin-bottom: 0;
            @include textShadow(0, 0, 3px, #e53d3d);
          }
        }
      }
    }
  }
}
// END:: PLAYER DETAILS PAGE STYLES 

// START:: MATCHES PAGE STYLES
.filters {
  button {
    border: none;
    background-color: transparent;
    color: $mainColor;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    i {
      font-size: 40px;
    }
  }
  .js-example-basic-single {
    width: 30%;
    margin: 5px;
    .select2-selection__rendered {
    padding: 5px;
    color: $mainColor !important;
    }
    &:focus {
      outline-color: none !important;
    }
  }
}

.matches-table {
  min-height: 600px;
  padding: $sectionPadding;
  .nav-pills {
    .owl-stage-outer {
      .owl-stage {
        .owl-item {
          .nav-link {
            &.active {
              border-radius: 0;
              background-color: $mainColor;
            }
          }
        }
      }
    }
    position: relative;
    z-index: 10;
    .owl-nav {
      z-index: -1;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;
      width: 100%;
      margin-top: 0;
      button {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: $mainColor;
        font-size: 40px;
        margin: 5px -35px;
        &:hover {
          background: transparent;
          color: $mainColor;
        }
      }
    }
  }
  .matches-table-content {
    .tab-pane {
      h2 {
        margin-top: 70px;
        color: $mainColor;
        @include textShadow(0, 0, 3px, $mainColor);
      }
      .team-match-card {
        background-color: #f1f1f1;
        border-radius: 0;
        .card-body {
          h6 {
            color: $mainColor;
            font-weight: bold;
          }
          p {
            color: $secondaryColor;
            margin-bottom: 0;
            font-size: 15px;
            text-align: center;
          }
          .status {
            background-color: $mainColor;
            color: #fff;
            border-radius: 10px;
            margin: 13px 0;
            font-size: 15px;
            padding: 5px 8px;
          }
          .date {
            margin: 13px 0;
            font-size: 15px;
            color: #777;
          }
          .playground {
            font-size: 15px;
            color: #777;
            i {
              color: $mainColor;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
// END:: MATCHES PAGE STYLES

// START:: COMPETITION DETAILS PAGE STYLES
.comp-details {
  .comp-details-container {
    .box {
      position: relative;
      .tabs-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $secondaryColor;
        width: 100%;
        padding: 5px 10px;
        .comp-logo-container {
          span {
            font-size: 25px;
            font-weight: 600;
            color: #fff;
            @include textShadow(0, 0, 3px, #fff)
          }
        }
        .nav-pills{
          align-items: center;
          justify-content: flex-end;
          padding-bottom: 0;
          li {
            a {
              padding: 5px 0;
              margin: 10px;
              color: #fff;
              border-radius: 0;
              border-bottom: 2px solid transparent;
              @include transitioning(0.4s);
              &.active {
                border: 0;
                background-color: transparent;
                border-bottom: 2px solid $mainColor;
                color: $mainColor;
                @include textShadow(0, 0, 3px, $mainColor);
                font-weight: 600;
              }
              &:hover {
                border-bottom: 2px solid $mainColor;
                color: $mainColor;
                @include transitioning(0.4s);
              }
            }
          } 
        }
      }
      .tab-content {
        .tab-pane {
          margin: 15px 0;
          iframe {
            width: 100% !important;
            height: 100% !important;
          }
          p {
            font-size: 18px;
            color: #fff;
            margin-bottom: 8px;
            span {
              color: $mainColor;
              font-weight: 600;
              margin-left: 3px;
            }
            i {
              font-size: 22px;
              color: $mainColor;
            }
          }
          h4 {
            color: $mainColor;
          }
          .comp-info {
            h4 {
              font-weight: 600;
              margin-bottom: 10px;
            }
            p {
              color: $secondaryColor;
              word-wrap: break-word;
              text-align: justify;
              line-height: 1.8;
            } 
          }
          .comp-statistics {
            padding: $sectionPadding;
            .row {
              .col-5 {
                margin-bottom: 20px;
                border-left: 1px solid #a1a1a1;
                &:nth-child(2),
                &:last-child {
                  border-left: 1px solid transparent;
                }
              }
            }
            p {
              font-size: 20px;
              color: #777;
              @include textShadow(0, 0, 2px, #555)
            }
          }
          .team-news {
            position: relative;
            min-height: 230px;
            max-height: 230px;
            .overlay {
              padding: 10px;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              a {
                text-align: start;
                color: #fff;
                &:hover {
                  color: #fff
                }
              }
            }
            img {
              height: 230px !important;
            }
          }
          .comp-videos {
            .card {
              .card-title {
                color: $mainColor;
              }
              iframe {
                height: 100% !important;
                width: 100% !important;
              } 
            }
          }
          .nav-pills {
            li {
              width: 50%;
              a {
                &.active {
                  border-radius: 0;
                  background-color: $mainColor;
                }
              }
            }
          }
          .comp-match-card {
            background-color: #f1f1f1;
            border-radius: 0;
            .card-body {
              h6 {
                color: $mainColor;
                font-weight: bold;
              }
              p {
                color: $secondaryColor;
                margin-bottom: 0;
                font-size: 15px;
              }
              .status {
                background-color: $mainColor;
                color: #fff;
                border-radius: 10px;
                margin: 13px 0;
                font-size: 15px;
                padding: 5px 8px;
              }
              .date {
                margin: 13px 0;
                font-size: 15px;
                color: #777;
              }
              .playground {
                font-size: 15px;
                color: #777;
                i {
                  color: $mainColor;
                  font-size: 18px;
                }
              }
            }
          }
          .comp-table {
            thead {
              tr {
                border-bottom: none;
                th {
                  border-bottom: none;
                }
              }
            }
            tbody {
              tr {
                td {
                  a {
                    color: #444;
                    text-decoration: none;
                    &:hover {
                      color: #444;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// END:: COMPETITION DETAILS PAGE STYLES

// START:: FOOTER STYLES
.footer {
  padding: 10px 0;
  .info {
    h5 {
      color: #fff;
      a {
        color: $mainColor;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// END:: FOOTER STYLES


// START:: MEDIA 
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    .container {
      justify-content: center;
      .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        li {
          margin-left: 10px;
        }
      }
      .navbar-social {
        order: -1;
        margin-right: 0 !important;
      }
    }
  }
}

@media (max-width: 1090px) {
  .navbar {
    display: flex;
    justify-content: center;
    .container {
      justify-content: center;
      .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        li {
          margin-left: 20px;
          margin-top: 15px;
        }
      }
      .navbar-social {
        order: -1;
        margin-right: 0 !important;
      }
    }
  }
}

@media (max-width: 1045px) {
  .matches-box {
    display: none;
    .overlay {
      .container {
        display: none;
      }
    }
    #curve {
      display: none;
    }
  }

  .small-matches-box {
    display: block;
  }
}
// END:: MEDIA 