* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

* input:focus,
* button:focus,
* a:focus {
  outline: none;
}

* .custom-title {
  text-align: right;
  color: #1983ca;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}

* .custom-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 8rem;
  height: 2px;
  background-color: #1983ca;
}

html {
  direction: rtl;
}

html body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

html body::-webkit-scrollbar {
  background-color: #343a40;
  width: 5px;
}

html body::-webkit-scrollbar-thumb {
  background-color: #1983ca;
}

.navbar {
  -webkit-box-shadow: 0 0 5px 3px #222;
  -o-box-shadow: 0 0 5px 3px #222;
  box-shadow: 0 0 5px 3px #222;
  z-index: 999 !important;
  padding: 0;
}

.navbar .navbar-brand span {
  font-family: 'Righteous', cursive;
  font-size: 25px;
}

.navbar .navbar-nav {
  padding: 0;
}

.navbar .navbar-nav .nav-item {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-item.active a {
  border-bottom: 1px solid #1983ca;
  color: #1983ca;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #1983ca;
  color: #1983ca;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
  position: absolute;
  top: 95%;
  right: 15%;
  width: 70%;
  border-radius: 0;
  padding: 20px;
}

.navbar .navbar-nav .nav-item .dropdown-menu a {
  color: #fff;
  text-align: right;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: transparent;
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar-social ul li {
  display: inline-block;
  margin: 0 4px;
}

.navbar .navbar-social ul li .search {
  background-color: transparent;
  border: none;
  font-size: 40px;
  opacity: 1;
  color: #fff;
}

.navbar .navbar-social ul li a {
  color: #acacac;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-social ul li a.facebook:hover {
  color: #0077ff;
}

.navbar .navbar-social ul li a.twitter:hover {
  color: #009dff;
}

.navbar .navbar-social ul li a.youtube:hover {
  color: #ee1414;
}

.navbar .navbar-social ul li a.insta:hover {
  color: #f7623f;
}

.navbar .navbar-social ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area {
  padding: 25px 0;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.search-area .close-search-area {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .close-search-area:hover {
  color: #1983ca;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .nav-search .search-input {
  font-size: 25px;
  color: #888;
  font-weight: 600;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1983ca;
  padding: 15px;
  caret-color: #1983ca;
}

.search-area .nav-search .search-input::-webkit-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input:-ms-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input::-ms-input-placeholder {
  color: #888;
}

.search-area .nav-search .search-input::placeholder {
  color: #888;
}

.search-area .nav-search ul {
  list-style: none;
}

.search-area .nav-search ul li {
  text-align: initial;
  margin-bottom: 15px;
  margin-right: 5px;
  font-size: 18px;
}

.search-area .nav-search ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0;
}

.search-area .nav-search ul li a {
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-area .nav-search ul li a:hover {
  color: #1983ca;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.matches-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(90vh - 62px);
  overflow: hidden;
  line-height: 0;
  background: #444 url("../imgs/playground.jpg");
  background-size: cover;
}

.matches-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.matches-box .overlay .nav-tabs {
  border-bottom: none;
  position: relative;
  top: 7%;
  right: 35%;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link {
  padding: 17px;
  border: none;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link.active {
  background-color: #1983ca;
  color: #fff;
  border: none;
  border-radius: 0;
}

.matches-box .overlay .nav-tabs .nav-item .nav-link.hover {
  border: none;
  border-color: transparent;
}

.matches-box .overlay .tab-content .tab-pane .empty-tag-content {
  position: relative;
  margin-top: 2.7%;
  width: 100%;
  background-color: #343a40;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-box .overlay .tab-content .tab-pane .empty-tag-content h3 {
  color: #1983ca;
}

.matches-box .overlay #matches-cards-slider,
.matches-box .overlay #live-matches-slider {
  position: absolute;
  top: 15%;
  left: 0;
}

.matches-box .overlay #matches-cards-slider .match-card,
.matches-box .overlay #live-matches-slider .match-card {
  min-height: 130px;
  padding: 15px;
  background-color: #343a40;
  color: #fff;
  border: 1px solid #333;
}

.matches-box .overlay #matches-cards-slider .match-card a,
.matches-box .overlay #live-matches-slider .match-card a {
  text-align: center;
}

.matches-box .overlay #matches-cards-slider .match-card a img,
.matches-box .overlay #live-matches-slider .match-card a img {
  display: inline-block;
  width: 35px !important;
  height: auto;
}

.matches-box .overlay #matches-cards-slider .match-card p,
.matches-box .overlay #live-matches-slider .match-card p {
  margin-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.matches-box .overlay #matches-cards-slider .match-card p.competition-name,
.matches-box .overlay #live-matches-slider .match-card p.competition-name {
  color: #1983ca;
  font-size: 0.7rem;
  font-weight: bold;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-result,
.matches-box .overlay #live-matches-slider .match-card p.match-result {
  font-size: 600;
  padding: 5px 0;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-stat,
.matches-box .overlay #live-matches-slider .match-card p.match-stat {
  padding: 5px 0;
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-stat span,
.matches-box .overlay #live-matches-slider .match-card p.match-stat span {
  border: 1px solid #1983ca;
  padding: 1px 6px;
  border-radius: 8px;
  background-color: #212121;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-time,
.matches-box .overlay #live-matches-slider .match-card p.match-time {
  padding-top: 5px;
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .match-card p.match-time .live,
.matches-box .overlay #live-matches-slider .match-card p.match-time .live {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #f04033;
  -webkit-animation-name: live;
          animation-name: live;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@-webkit-keyframes live {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes live {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matches-box .overlay #matches-cards-slider .match-card p.team-name,
.matches-box .overlay #live-matches-slider .match-card p.team-name {
  font-size: 12px;
}

.matches-box .overlay #matches-cards-slider .owl-nav button,
.matches-box .overlay #live-matches-slider .owl-nav button {
  background: #1983ca;
  padding: 15px !important;
  margin-top: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 3px #1983ca;
  -o-box-shadow: 0 0 3px 3px #1983ca;
  box-shadow: 0 0 3px 3px #1983ca;
}

.matches-box .overlay #matches-cards-slider .owl-nav button:last-of-type,
.matches-box .overlay #live-matches-slider .owl-nav button:last-of-type {
  margin-right: 100px;
}

.matches-box .overlay #matches-cards-slider .owl-nav button span,
.matches-box .overlay #live-matches-slider .owl-nav button span {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.matches-box #curve {
  position: absolute;
  bottom: 0;
  display: block;
  width: calc(145% + 1.3px);
  height: 197px;
}

.matches-box .shape-fill {
  fill: #fff;
}

.teams-section {
  padding: 40px 0;
}

.teams-section #teams-slider {
  width: 70%;
}

.teams-section #teams-slider.owl-rtl .owl-item {
  width: 70px !important;
}

.teams-section #teams-slider .owl-nav button {
  background: #1983ca;
  padding: 15px !important;
  margin-top: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 3px #1983ca;
  -o-box-shadow: 0 0 3px 3px #1983ca;
  box-shadow: 0 0 3px 3px #1983ca;
}

.teams-section #teams-slider .owl-nav button:last-of-type {
  margin-right: 100px;
}

.teams-section #teams-slider .owl-nav button span {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 0;
}

.latest-news {
  padding: 40px 0;
}

.latest-news .news-img-container {
  position: relative;
  padding: 0;
}

.latest-news .news-img-container .news-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  word-wrap: break-word;
}

.latest-news .news-img-container .news-overlay a {
  color: inherit;
  font-size: 600;
}

.latest-news img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .latest-news .news-img-container.col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.3%;
            flex: 0 0 41.3%;
    max-width: 41.3%;
  }
  .latest-news .news-img-container.col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.5%;
            flex: 0 0 49.5%;
    max-width: 49.5%;
  }
}

.latest-videos {
  padding: 40px 0;
}

.latest-videos .card {
  margin: 10px;
  padding: 0;
  border-radius: 0;
}

.latest-videos .card .card-video-box {
  position: relative;
  padding: 0;
}

.latest-videos .card .card-video-box .card-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  word-wrap: break-word;
}

.latest-videos .card .card-video-box .card-video-overlay a i {
  color: #1983ca;
  font-size: 70px;
}

.latest-videos img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 10px 0;
}

.footer .info h5 {
  color: #fff;
}

.footer .info h5 a {
  color: #1983ca;
}

.footer .info h5 a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */